.main{
    display: flex;
    background-color: #eff1f5;
    width: 100%;
}

.sidebar{
    flex:1;
    padding: 0px 0px 0px 0px;
    height: calc(100vh - 68px);
    background-color: white;
}

.sidebar .title{
    background-color: white;
    padding: 5px 10px;
}

.sidebar .title p {
    font-size:20px;
    padding:5px 10px;
    font-size: 600;
}

.sidebar .list{
    height: calc(100% - 50px);
    overflow: auto;
    padding:5px;
    margin-top:-3px;
    display: flex;
    justify-content: center;
}

.sidebar .list::-webkit-scrollbar {
    width: 5px;
    height:5px;
}

.sidebar .list::-webkit-scrollbar-track {
    background-color: rgb(230, 230, 230); 
    border-radius: 10px;
}

.sidebar .list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--primary-color-dark); 
}

.container{
    flex:3;
    margin-right:5px;
    height:calc(100vh - 100px);
    padding:60px;
}

.list-group{
    width: 100%;
    padding: 5px 20px 0px 20px;
}

.list-group-item{
    /* width: 80%; */
    padding: 5px 10px !important;
    background-color: white;
}

.list-group-item-action:hover{
    background-color: #f4f4f4;
    cursor: pointer;
    
}

.list-group-item-action.active{
    background-color:var(--primary-color);
    color:white;
} 

.list-group-item-action.active:hover{
    background-color:white;
    color:var(--primary-color);
} 