<div class="main">
    <div class="display-main">
        <div class="item1 item"></div>
        <div class="item2 item">
            <!-- <a href="" [routerLink]="['/admin/users']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"> -->
            <a href="">
                <div class="info-stats4">
                    <div class="info-icon">
                        <img src="../../../../../assets//images/users.svg">
                    </div>
                    <div class="sale-num">
                        <h2>{{subjectsCount}}</h2>
                        <p>subjects assigned</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="item3 item">
            <div class="info-stats4">
                <div class="info-icon">
                    <img src="../../../../../assets//images/subject.svg">
                </div>
                <div class="sale-num">
                    <h2>{{questionsCount}}</h2>
                    <p>questions added</p>
                </div>
            </div>
        </div>
        <div class="item4 item">
            <div class="info-stats4">
                <div class="info-icon">
                    <img src="../../../../../assets//images/questions.svg">
                </div>
                <div class="sale-num">
                    <h2>{{questionPaperCount}}</h2>
                    <p>papers generated</p>
                </div>
            </div>
        </div>
        <div class="item1 item"></div>
    </div>
    <!-- <div class="charts">
        <div class="chart-wrapper" style=" box-shadow: 1px 1px 1px 1px #d0d9e0;background-color:white; border-radius: 10px;">
            <div class="chart-header">
                <p>Users</p>
            </div>
            <canvas
            baseChart
            [data]="pieChartData" 
            [labels]="pieChartLabels"
            [colors] = "backgroundColor"
            [chartType]="pieChartType"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
          </canvas>
        </div>
    </div> -->
</div>