<div class="wrapper theme-5-active">
    <!-- Top Menu Items -->
    <app-header></app-header>
    <div class="page-wrapper">
        <!-- <app-loader></app-loader> -->
        <router-outlet></router-outlet>
        <!-- <footer class="footer container-fluid pl-30 pr-30">
            <div class="row">
                <div class="col-sm-12">
                    <p>2017 &copy; Jetson. Pampered by Hencework</p>
                </div>
            </div>
        </footer> -->
        
    </div>

</div>
