.main{
    height:100%;
    width:100%;
}

.card{
    background: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #d0d9e0;
    margin-top: 50px;
}

.card .card-title{
    font-weight: bold;
    padding:20px 20px;
    background-color: #f7f7f7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-title p {
    font-size: 20px;
    color:var(--primary-color-dark)
}

.card .card-body{
    padding:20px 20px;
    text-align: center;
}

.form-group{
    text-align: left;
}

label{
    font-size: 15px !important;
    margin-bottom: 5px;
}

textarea{
    resize: none;
}