
<div class="row heading-bg">
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
      <div class="title">
          <p>Question paper model</p>
      </div>
  </div>
  <!-- Breadcrumb -->
  <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
      <ol class="breadcrumb">
          <li><a href="">Question paper model</a></li>
      </ol>
  </div>
  <!-- /Breadcrumb -->
</div>

<div class="main">
  <json-editor class="json" [options]="editorOptions" [data]="data" style="min-height: 500px;"></json-editor>
  <!-- <ngx-json-viewer [json]="data"></ngx-json-viewer> -->
</div>

