
<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <div class="title">
            <p>Add subject</p>
        </div>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="index.html">Dashboard</a></li>
            <li><a href="#"><span>Subjects</span></a></li>
            <li class="active"><span>Add subject</span></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card">
            <div class="title">
                <p>Add subject</p>
            </div><br>
            <form (ngSubmit)="formSubmit()">
                <div class="subject-main">
                    <p class="title">Subject</p>
                    <div class="row">
                        <div class="col-lg-4">
                            <select class="form-control" required (change)="changeDegree($event)">
                                <option value="so">Degree</option>
                                <option value="B.Tech">B.Tech</option>
                                <option value="M.Tech">M.Tech</option>
                            </select>
                        </div>
                        <div class="col-lg-4">
                            <select class="form-control" required (change)="changeYear($event)">
                                <option value="so">Year</option>
                                <option  *ngFor="let val of yearList" [value]="val">{{val}}</option>
                                <!-- <option value="I">I</option>
                                <option value="II">II</option>
                                <option value="III">III</option>
                                <option value="IV">IV</option> -->
                            </select>
        
                        </div>
                        <div class="col-lg-4">
                            <select class="form-control" required (change)="changeSem($event)">
                                <option value="so">Semister</option>
                                <option *ngFor="let sem of semList" [value]="sem">{{sem}}</option>
                                <!-- <option value="I">I</option>
                                <option value="II">II</option>
                                <option value="III">III</option>
                                <option value="IV">IV</option>
                                <option value="V">V</option>
                                <option value="VI">VI</option>
                                <option value="VII">VII</option>
                                <option value="VIII">VIII</option> -->
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-4">
                            <input type="number" class="form-control" placeholder="Scheme" name="scheme" required [(ngModel)]="scheme">
        
                        </div>
                        <div class="col-lg-4">
        
                            <input type="text" class="form-control" placeholder="Branch" name="branch" required [(ngModel)]="branch">
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Subject name" name="subjectName" required [(ngModel)]="subjectName">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-4">
                            <input type="number" class="form-control" placeholder="Units" name="units" required [(ngModel)]="units">
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Subject code" name="units" required [(ngModel)]="subjectCode">
                        </div>
                        <div class="col-lg-4">
                            <select class="form-control" required (change)="changesSubjectType($event)">
                                <option value="so">Subject type</option>
                                <option value="s">Normal Subject</option>
                                <option value="oe">Open Elective (OE)</option>
                                <option value="pe">Professional Elective (PE)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="user-main">
                    <p class="title">Faculty</p>
                    <div class="row">
                        <div class="col-lg-3">
                            <mat-form-field appearance="fill">
                                <mat-label>Faculty</mat-label>
                                <mat-select [formControl]="flist" multiple>
                                  <mat-select-trigger>
                                    {{flist.value ? flist.value[0].name : ''}}
                                    <span *ngIf="flist.value?.length > 1" class="example-additional-selection">
                                      (+{{flist.value.length - 1}} {{flist.value?.length === 2 ? 'other' : 'others'}})
                                    </span>
                                  </mat-select-trigger>
                                  <mat-option *ngFor="let f of faculty" [value]="f">{{f.name}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2">
                        <input type="submit" class="btn btn-primary btn-sm" value="Submit" />
                    </div>
                    <div class="col-lg-5"></div>
                </div>
            </form>
        </div>        
    </div>
    <div class="col-lg-2"></div>
</div>