
<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <div class="title">
            <p>Add subject</p>
        </div>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="index.html">Dashboard</a></li>
            <li><a href="#"><span>Subjects</span></a></li>
            <li class="active"><span>Add subject</span></li>
        </ol>
    </div>
    <!-- /Breadcrumb -->
</div>

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="card">
            <div class="title">
                <p>Add subject</p>
            </div><br>
            <form (ngSubmit)="formSubmit()">
                <div class="subject-main">
                    <p class="title">Subject</p>
                    <div class="row">
                        <div class="col-lg-4">
                            <select class="form-control" name="branch" required (change)="changeBranch($event)">
                                <option value="so">Department</option>
                                <optgroup *ngFor="let degree of branches" [label]= "degree[0]">
                                    <option *ngFor="let branch of degree[1]" [attr.data-degree]="degree[0]" [value]="branch.branchId">{{branch.branchName}}</option>
                                </optgroup>
                            </select>
                        </div>
                        
                        <div class="col-lg-4">
                            <input type="text" class="form-control" readonly [value]="degree">
                        </div>
                        <div class="col-lg-4">
                            <select class="form-control" required (change)="changeYear($event)">
                                <option value="so">Year</option>
                                <option  *ngFor="let val of yearList" [value]="val">{{val}}</option>
                            </select>
        
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        
                        <div class="col-lg-4">
                            <select class="form-control" required (change)="changeSem($event)">
                                <option value="so">Semister</option>
                                <option *ngFor="let sem of semList" [value]="sem">{{sem}}</option>
                            </select>
                        </div>
                        <div class="col-lg-4">
                            <input type="number" class="form-control" placeholder="Scheme" name="scheme" required [(ngModel)]="scheme">
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Subject name" name="subjectName" required [(ngModel)]="subjectName">
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-lg-4">
                            <input type="number" class="form-control" placeholder="Units" name="units" required [(ngModel)]="units">
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Subject code" name="units" required [(ngModel)]="subjectCode">
                        </div>
                        <div class="col-lg-4">
                            <select class="form-control" required (change)="changesSubjectType($event)">
                                <option value="so">Subject type</option>
                                <option value="s">Normal Subject</option>
                                <option value="oe">Open Elective</option>
                                <option value="pe">Professional Elective</option>
                                <option value="md">Minor Degree</option>
                                <option value="pe">Honours Degree</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="user-main">
                    <p class="/title">Faculty</p>
                    <div class="row">
                        <div class="col-lg-4">
                            <!-- <select class="form-control" name="branch" required (change)="changeFacultyBranch($event)">
                                <option value="so">Department</option>
                                <optgroup *ngFor="let degree of branches" [label]= "degree[0]">
                                    <option *ngFor="let branch of degree[1]" [attr.data-degree]="degree[0]" [value]="branch.branchId">{{branch.branchName}}</option>
                                </optgroup>
                            </select> -->
                            <mat-form-field>
                                <mat-label>Department</mat-label>
                                <mat-select (selectionChange)="changeFacultyBranch($event)">
                                  <mat-optgroup *ngFor="let degree of branches" [label]="degree[0]">
                                    <mat-option *ngFor="let branch of degree[1]" [attr.data-degree]="degree[0]" [value]="branch.branchId">
                                        {{branch.branchName}}
                                    </mat-option>
                                  </mat-optgroup>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col-lg-4">
                            <mat-form-field appearance="fill">
                                <mat-label>Faculty</mat-label>
                                <mat-select [formControl]="flist" multiple>
                                  <mat-select-trigger>
                                    {{flist.value ? flist.value[0].name : ''}}
                                    <span *ngIf="flist.value?.length > 1" class="example-additional-selection">
                                      (+{{flist.value.length - 1}} {{flist.value?.length === 2 ? 'other' : 'others'}})
                                    </span>
                                  </mat-select-trigger>
                                  <mat-option *ngFor="let f of faculty" [value]="f">{{f.name}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2">
                        <input type="submit" class="btn btn-primary btn-sm" value="Submit" />
                    </div>
                    <div class="col-lg-5"></div>
                </div>
            </form>
        </div>        
    </div>
    <div class="col-lg-2"></div>
</div>