<section class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-6">
                    <div class="header">
                        <div class="title">
                            <p>Hooray, </p>
                            <p class="p">welcome back.</p><br>
                            <p class="sub-title">Your return to work at this time evinces your industrious spirit and unwavering commitment to our work. I remain so proud of you. Welcome back, and keep up the good work.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-main">
                <div class="title">
                    <p>Reset Password</p>
                </div>
                <div class="sub-title">
                    <p>Enter your email and we'll send you the password reset link</p>
                </div>
                <form [formGroup]= "resetForm" (ngSubmit)="submit()">
                    <div class="content">
                        <div class="email-input">
                            <input type="email" formControlName="email" placeholder="Email" required/>
                            <span class="error" *ngIf="email.invalid && email.touched && !email.dirty">Please enter email</span>
                        </div>
                        <!-- <div class="password-input">
                            <input type="password" formControlName="password" placeholder="Password" required/>
                            <span class="error" *ngIf="password.invalid && password.touched">Please enter password</span>
                        </div> -->
                    </div>
                    <!-- <a href="#">Forgot Password?</a> -->
                    <div class="actions">
                        <div class="back">
                            <i class="fas fa-caret-left"></i><a [routerLink]="['']">Login</a>
                        </div>
                        <div class="btns">
                            <button class="btnd" type="submit" *ngIf="email.valid">Reset</button>
                            <button class="btnd" type="submit" *ngIf="email.invalid" disabled>Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</section>